* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 24px;
}

h1 {
  margin-bottom: 48px;
}

h2 {
  margin: 0;
}

header {
  margin-top: 96px;
}

section {
  padding: 72px 0;
}

main {
  margin: 0 -24px;
  padding: 0 24px;
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0, 0%, 40%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.intro-chunk {
  max-width: 410px;
}

p {
  font-size: 1.25rem;
  line-height: 30px;
}

.card {
  margin: 0 -24px;
  padding: 8px 24px 32px 24px;
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  margin-left: -32px;
  width: fit-content;
  padding: 16px 32px;
  background: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);
}
